schedule.dtd

<!ELEMENT appointments
        (date*,year, month, day*, time*,hour, minutes, note)>
        <!ELEMENT date (year, month, day)>
        <!ELEMENT year (#PCDATA)>
        <!ELEMENT month (#PCDATA)>
        <!ELEMENT day (time)>
        <!ELEMENT time (hour, minutes, note)>
        <!ELEMENT hour (#PCDATA)>
        <!ELEMENT minutes (#PCDATA)>
        <!ELEMENT note (#PCDATA)>
